<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="static/index.css">
	</head>
	
	<body>
		<div class="container">
			
			{% include 'search_bar.html' %}

			<div class="row row-top-space">
				<div class="col-4">
					<div class="card align-center">
						<div class="card-header">
							Construction of Model
						</div>
						<div class="card-body">
							{{ process_time }} <small class="text-muted">seconds</small>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card align-center">
						<div class="card-header">
							Document Count
						</div>
						<div class="card-body">
							{{ stats['doc_count'] }}
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card align-center">
						<div class="card-header">
							Word Count
						</div>
						<div class="card-body">
							{{ stats['word_count'] }}
						</div>
					</div>
				</div>
			</div>

		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	</body>

</html>